@import "tailwindcss";

@font-face {
  font-family: 'BNazanin';
  src: url('/fonts/BNazanin.woff2') format('woff2'),
       url('/fonts/BNazanin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media print {
  #no-print {
    display: none !important;
  }
  #printable-content {
    margin: 20mm;
    /* or */
  }
}


.scrollbar-custom::-webkit-scrollbar {
  height: 10px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #e0e7ff, #c7d2fe);
  border-radius: 10px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #cbdff8, #c6e0ff);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background 0.3s ease;
}
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #d0e6ff, #BFDBFE);
}

/* فایرفاکس */
.scrollbar-custom {
  scrollbar-width: thick;
  scrollbar-color: #cae2ff #BFDBFE;
}
.scrollbar-custom:hover {
  scrollbar-color: #BFDBFE #d8e9ff;
}
